<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<link rel="canonical" href="https://www.sladewatkinsmedia.com/templates/">
	<meta name="robots" content="index, follow">
    <link rel="shortcut icon" type="image/png" href="../favicon.png">
    
	<link rel="stylesheet" type="text/css" href="../all.css?425">
	
    <title>Templates</title>


    
<!-- Analytics -->
 
<!-- Analytics END -->
    
</head>
<body data-clean-url="true">
<!-- Main container -->
<div class="page-container">
    
<!-- bloc-0 -->
<div class="bloc l-bloc " id="bloc-0">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col">
				<nav class="navbar navbar-light row navbar-expand-lg" role="navigation">
					<div class="container-fluid">
						<a class="navbar-brand nonein link-style" href="../"><picture><source type="image/webp" srcset="../img/SWM.webp"><img src="../img/SWM.png" alt="SWM abbrievated wordmark" width="460" height="64"></picture></a>
						<button id="nav-toggle" type="button" class="ui-navbar-toggler navbar-toggler border-0 p-0 ms-auto" aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target=".navbar-40948">
							<span class="navbar-toggler-icon"><svg height="32" viewBox="0 0 32 32" width="32"><path class="svg-menu-icon" d="m2 9h28m-28 7h28m-28 7h28"></path></svg></span>
						</button>
						<div class="collapse navbar-collapse navbar-40948">
								<ul class="site-navigation nav navbar-nav ms-auto">
									<li class="nav-item">
										<a href="../" class="nav-link">Slade Watkins Media</a>
									</li>
									<li class="nav-item">
										<a href="../swm-wallymer/" class="a-btn nav-link">SWM Wallymer</a>
									</li>
									<li class="nav-item">
										<a href="https://www.kakarikoherald.com" class="nav-link a-btn">Kakariko Herald</a>
									</li>
								</ul>
							</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- bloc-0 END -->

<!-- bloc-1 -->
<div class="bloc l-bloc" id="bloc-1">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-start">
				<h2 class="mb-4 h2-we-are-style text-lg-center mb-lg-0">
					Welcome to
				</h2><picture><source type="image/webp" srcset="../img/lazyload-ph.png" data-srcset="../img/facebook.webp"><img src="../img/lazyload-ph.png" data-src="../img/facebook.png" class="img-fluid mx-auto d-block mt-lg-2 img-3-style lazyload" alt="SWM" width="557" height="139"></picture>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

<!-- ScrollToTop Button -->
<button aria-label="Scroll to top button" class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32"><path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/></svg></button>
<!-- ScrollToTop Button END-->


<!-- bloc-4 -->
<div class="bloc l-bloc" id="bloc-4">
	<div class="container bloc-lg bloc-sm-lg">
		<div class="row">
			<div class="col text-start">
				<picture><source type="image/webp" srcset="../img/lazyload-ph.png" data-srcset="../img/SWM_2023_wordmark_light.webp"><img src="../img/lazyload-ph.png" data-src="../img/SWM_2023_wordmark_light.png" class="img-fluid mx-auto d-block img-protected img-style lazyload" alt="SWM_2023_wordmark_light" width="143" height="59"></picture>
				<p class="text-lg-center p-style text-md-center text-center btn-resize-mode tc-425">
					© 2022-2023 Slade Watkins Media; all rights reserved.<br>Poorly designed by <a href="https://www.sladewatkins.com" target="_blank">Slade Watkins</a>.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-4 END -->

</div>
<!-- Main container END -->
    


<!-- Additional JS -->
<script src="../js/bootstrap.bundle.min.js?9419"></script>
<script src="../js/blocs.min.js?4891"></script>
<script src="../js/lazysizes.min.js" defer></script><!-- Additional JS END -->


</body>
</html>
